<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>Article</title>
</head>
<body>
<div id="article">
    <el-row>
        <el-col span="6">
            <p></p>
        </el-col>
        <el-col span="12">
            <el-card>
                <a :href="'authorinfo?id='+articleInfo[0].authorId">
                <el-avatar :src="articleInfo[0].authorAvatarLink"></el-avatar></a>{{articleInfo[0].authorName}}
                <div style="text-align:center">
                    {{articleInfo[0].articleTitle}}
                </div>
            </el-card>
        </el-col>
        <el-col span="6">
            <p>
            </p>
        </el-col>
    </el-row>
    <el-row>
        <el-col span="6">
            <p></p>
        </el-col>
        <el-col span="12">
            <el-card>
                <el-button type="primary" icon="el-icon-edit" @click="writeComment">写评论</el-button>
                <el-button type="primary" icon="el-icon-folder-add" @click="changeCollect" plain>{{isCollect==true?"取消收藏":"加入收藏"}}</el-button>
                <el-button style="float: right" type="primary" icon="el-icon-caret-top" @click="likeArticle(articleInfo[0])">{{isLike==true?"已赞同":"赞同"}}{{articleInfo[0].likeNum}}</el-button>
                <el-button style="float: right" type="primary" :icon="followIcon" @click="changeFollow" plain>{{isFollow==true?"取消关注":"关注作者"}}</el-button>

            </el-card>
        </el-col>
        <el-col span="6">
            <div>
                <p></p>
            </div>
        </el-col>
    </el-row>

    <el-row>
        <el-col span="6">
            <p></p>
        </el-col>
        <el-col span="12">
            <div>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>正文</span>
                    </div>
                    <div id="text-item">
                        {{articleContent}}
                    </div>
                </el-card>
                <el-card>
                    <div slot="header">
                        <span>评论</span>
                    </div>
                    <div class="container">
                        <div class="comment" v-for="comment in commentList">
                            <div class="info">
                                <img class="avatar" :src="comment.userAvatarLink" width="36" height="36"/>
                                <div class="right">
                                    <div class="name">{{comment.userName}}
                                    </div>
                                    <div class="date">{{comment.addTime}}
                                    </div>
                                </div>
                            </div>
                            <div class="content">{{comment.content}}
                            </div>
                            <div>
                                <el-button class="like" icon="el-icon-thumb"  @click="likeComment(comment)" round>
                                    <div class="like-num">{{comment.likeNum > 0 ? comment.likeNum + '人赞' : '赞'}}</div>
                                </el-button>
                            </div>
                        </div>
                    </div>
                </el-card>
            </div>
        </el-col>
    </el-row>
</div>

</body>


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/jquery.min.js"></script>
<script>
 var uId=localStorage.getItem("userId");
 var uNm=localStorage.getItem("userName");
 var aId=window.location.href.split("?id=")[1];
 var app = new Vue({
      el: '#article',
      data: {
          userId:uId,
          userName:uNm,
          isCollect:false,
          isFollow:false,
          isLike:false,
          followIcon:{},
          articleInfo:[],
          newComment:{},
          commentList:[],
          articleContent:""
      },
      beforeMount(){
          this.getArticleInfo();
          this.getAllComment();
          this.getCollectState();
          this.getArticleContent();
          this.getFollowState();
      },
      methods: {
          getArticleInfo: function() {
              axios.get('/api/article/info', {
                  params:{
                      articleId: aId
                  }
              }).then(function (response) {
                  this.updateArticleInfo(response.data.articleList);
                  this.getFollowState();
              }.bind(this));
          },
          getArticleContent(){
              axios.get('/api/article/detail',{
                  params:{
                      articleId: aId
                  }
              }).then(function (response) {
                  this.articleContent = response.data.article.articleText;
              }.bind(this));
          },
          getAllComment:function(){
              axios.get('/api/article/comment',{
                  params:{
                      articleId: aId,
                      startId: 0
                  }
              }).then(function (response) {
                  this.updateCommentList(response.data.commentList);
              }.bind(this));
          },
          getCollectState:function(){
              axios.get('/api/check-collect',{
                  params:{
                      userId:this.userId,
                      articleId:aId
                  }
              }).then(function (response) {
                  this.isCollect=response.data.status;
              }.bind(this));
          },
          getFollowState:function(){
              axios.get('/api/check-follow',{
                  params:{
                      userId:this.userId,
                      authorId:this.articleInfo[0].authorId
                  }
              }).then(function (response) {
                  this.isFollow=response.data.status;
                  if(this.isFollow===true)
                  {
                      this.followIcon="el-icon-star-on";
                  }
                  else
                  {
                      this.followIcon="el-icon-star-off";
                  }
              }.bind(this));
          },
          getLikeState:function(){
              axios.get('/api/check-like-article',{
                  params:{
                      userId:this.userId,
                      authorId:this.articleInfo[0].authorId
                  }
              }).then(function (response) {
                  this.isLike=response.data.status;
              }.bind(this));
          },
          likeArticle:function(article){
              if (article.isLike === null) {
                  Vue.$set(article, "isLike", true);
                  this.plusLikeNumOfArticle();
                  this.articleInfo[0].likeNum++;
              } else {
                  if (article.isLike) {
                      this.minusLikeNumOfArticle();
                      this.articleInfo[0].likeNum--;
                  } else {
                      this.plusLikeNumOfArticle();
                      this.articleInfo[0].likeNum++;
                  }
                  article.isLike = !article.isLike;
              }
          },
          likeComment:function(comment){
              if (comment.isLike === null) {
                  Vue.$set(comment, "isLike", true);
                  comment.likeNum++;
                  this.plusLikeNumOfComment(comment.commentId,this.userId);
              } else {
                  if (comment.isLike) {
                      comment.likeNum--;
                      this.minusLikeNumOfComment(comment.commentId,this.userId);
                  } else {
                      comment.likeNum++;
                      this.plusLikeNumOfComment(comment.commentId,this.userId);
                  }
                  comment.isLike = !comment.isLike;
              }
          },
          writeComment:function(){
              this.$prompt('请输入评论', '评论', {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
              }).then(({ value }) => {
                  this.addNewComment(value);
                  this.$message({
                      type: 'success',
                      message: '评论成功'
                  });
              }).catch(() => {
                  this.$message({
                      type: 'info',
                      message: '取消评论'
                  });
              });
          },
          plusLikeNumOfArticle:function(){
              axios.get('/api/do-like-article',{
                  params:{
                      userId:this.userId,
                      articleId:this.articleInfo[0].articleId
                  }
              }).then(function (response) {

              }.bind(this));
          },
          minusLikeNumOfArticle:function(){
              axios.get('/api/cancel-like-article',{
                  params:{
                      userId:this.userId,
                      articleId:this.articleInfo[0].articleId
                  }
              }).then(function (response) {

              }.bind(this));
          },
          plusLikeNumOfComment:function(cid,uid){
              axios.get('/api/do-like-comment',{
                  params:{
                      userId:uid,
                      commentId:cid
                  }
              }).then(function (response) {

              }.bind(this));
          },
          minusLikeNumOfComment:function(cid,uid){
              axios.get('/api/cancel-like-comment',{
                  params:{
                      userId:uid,
                      commentId:cid
                  }
              }).then(function (response) {

              }.bind(this));
          },
          addNewComment:function(value){
              axios.get('/api/add-comment',{
                  params:{
                      articleId:this.articleInfo[0].articleId,
                      userId:this.userId,
                      content:value
                  }
              }).then(function (response) {

              }.bind(this));
          },
          changeCollect:function(){
              if(this.isCollect===false)
              {
                  axios.get('/api/do-collect',{
                      params: {
                          userId: this.userId,
                          articleId: this.articleInfo[0].articleId
                      }
                  }).then(function (response) {
                  }.bind(this));
              }
              else
              {
                  axios.get('/api/cancel-collect',{
                      params: {
                          userId: this.userId,
                          articleId: this.articleInfo[0].articleId
                      }
                  }).then(function (response) {
                  }.bind(this));
              }
              this.isCollect=!this.isCollect;
          },
          changeFollow:function(){
              if(this.isFollow===false)
              {
                  axios.get('/api/do-follow',{
                      params:{
                          userId:this.userId,
                          authorId:this.articleInfo[0].authorId
                      }
                  }).then(function (response) {
                      this.followIcon="el-icon-star-on";
                  }.bind(this));
              }
              else
              {
                  axios.get('/api/cancel-follow',{
                      params:{
                          userId:this.userId,
                          authorId:this.articleInfo[0].authorId
                      }
                  }).then(function (response) {
                      this.followIcon="el-icon-star-off";
                  }.bind(this));
              }
              this.isFollow=!this.isFollow;
          },
          updateArticleInfo:function(info){
              if (info[0].authorAvatarLink === "" || info[0].authorAvatarLink === undefined || info[0].authorAvatarLink === null) {
                  info[0].authorAvatarLink = "/img/default-avatar.png";
              }
              this.articleInfo=info;
          },
          updateCommentList:function(commentList){
              for(var i=0;i<commentList.length;i++) {
                  if (commentList[i].userAvatarLink === "" || commentList[i].userAvatarLink === undefined || commentList[i].userAvatarLink === null) {
                      commentList[i].userAvatarLink = "/img/default-avatar.png";
                  }
                  commentList[i].addTime=commentList[i].addTime.slice(0,10);
              }
              this.commentList=commentList;
          },
      }
    })
</script>

<style>
      .comment {
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-bottom: 1px solid #F2F6FC;
      }
      .info {
        display: flex;
        align-items: center;
      }
      .avatar {
          border-radius: 50%;
      }
      .right {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
      }
      .name {
            font-size: 16px;
            color: #303133;
            margin-bottom: 5px;
            font-weight: 500;
      }
      .date {
            font-size: 14px;
            color: #909399;
      }
      .like {
          display: flex;
          align-items: center;
          margin-right: 10px;
          cursor: pointer;
          color: #909399;
      }
      .content {
        font-size: 16px;
        color: #303133;
        line-height: 20px;
        padding: 10px 0;
      }
</style>
</html>
