<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-row>
        <el-col span="6">
            <p></p>
        </el-col>
        <el-col span="12">
            <el-card>
                <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
            </el-card>
        </el-col>
        <el-col span="6">
            <p>
            </p>
        </el-col>
    </el-row>
    <el-row>
        <el-col span="6">
            <p></p>
        </el-col>
        <el-col span="12">
            <el-card>
                <el-button type="primary" icon="el-icon-edit">写评论</el-button>
                <el-button type="primary" icon="el-icon-folder-add" plain>加入收藏</el-button>
                <el-button style="float: right" type="primary" icon="el-icon-caret-top">赞同</el-button>
                <el-button style="float: right" type="primary" icon="el-icon-share"></el-button>
                <el-button style="float: right" type="primary" icon="el-icon-search"></el-button>

            </el-card>
        </el-col>
        <el-col span="6">
            <div>
                <p></p>
            </div>
        </el-col>
    </el-row>

    <el-row>
        <el-col span="6">
            <p></p>
        </el-col>
        <el-col span="12">
            <div>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>卡片名称</span>
                        <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                    </div>
                    <div class="text item">
                        <p>
                            人民网北京11月22日电 据商务部网站消息，21日，商务部召开例行新闻发布会，商务部办公厅副主任、新闻发言人高峰回答记者提问。

                            香港南华早报记者提问称，据报道，11月16日上午中美经贸高级别磋商进行了建设性的讨论。请问讨论的内容是什么？双方在哪些方面达成了协议，以及现在还有哪些分歧，是否仍在中国自美采购农产品数量以及美国取消加征关税方面存在分歧？中方对于自美采购农产品设置的目标持怎样的立场？另外，特朗普称，与中国必须达成一项他喜欢的协议，否则将加征高关税，对此您怎么看？预期年内是否有可能达成第一阶段协议？

                            高峰回应，11月16日上午，刘鹤副总理应约与美国贸易代表莱特希泽、财政部长姆努钦通话。双方围绕第一阶段协议的各自核心关切进行建设性讨论。双方经贸团队将继续保持密切沟通。关于协议磋商的细节，目前我没有更多信息可以向大家透露。但外界的传言并不准确。

                            中方愿与美方在平等和相互尊重的基础上，共同努力，妥善解决彼此核心关切，力争达成第一阶段协议。这符合中美双方的共同利益，也符合整个世界的利益。谢谢。
                            人民网北京11月22日电 据商务部网站消息，21日，商务部召开例行新闻发布会，商务部办公厅副主任、新闻发言人高峰回答记者提问。

                            香港南华早报记者提问称，据报道，11月16日上午中美经贸高级别磋商进行了建设性的讨论。请问讨论的内容是什么？双方在哪些方面达成了协议，以及现在还有哪些分歧，是否仍在中国自美采购农产品数量以及美国取消加征关税方面存在分歧？中方对于自美采购农产品设置的目标持怎样的立场？另外，特朗普称，与中国必须达成一项他喜欢的协议，否则将加征高关税，对此您怎么看？预期年内是否有可能达成第一阶段协议？

                            高峰回应，11月16日上午，刘鹤副总理应约与美国贸易代表莱特希泽、财政部长姆努钦通话。双方围绕第一阶段协议的各自核心关切进行建设性讨论。双方经贸团队将继续保持密切沟通。关于协议磋商的细节，目前我没有更多信息可以向大家透露。但外界的传言并不准确。

                            中方愿与美方在平等和相互尊重的基础上，共同努力，妥善解决彼此核心关切，力争达成第一阶段协议。这符合中美双方的共同利益，也符合整个世界的利益。谢谢。
                            人民网北京11月22日电 据商务部网站消息，21日，商务部召开例行新闻发布会，商务部办公厅副主任、新闻发言人高峰回答记者提问。

                            香港南华早报记者提问称，据报道，11月16日上午中美经贸高级别磋商进行了建设性的讨论。请问讨论的内容是什么？双方在哪些方面达成了协议，以及现在还有哪些分歧，是否仍在中国自美采购农产品数量以及美国取消加征关税方面存在分歧？中方对于自美采购农产品设置的目标持怎样的立场？另外，特朗普称，与中国必须达成一项他喜欢的协议，否则将加征高关税，对此您怎么看？预期年内是否有可能达成第一阶段协议？

                            高峰回应，11月16日上午，刘鹤副总理应约与美国贸易代表莱特希泽、财政部长姆努钦通话。双方围绕第一阶段协议的各自核心关切进行建设性讨论。双方经贸团队将继续保持密切沟通。关于协议磋商的细节，目前我没有更多信息可以向大家透露。但外界的传言并不准确。

                            中方愿与美方在平等和相互尊重的基础上，共同努力，妥善解决彼此核心关切，力争达成第一阶段协议。这符合中美双方的共同利益，也符合整个世界的利益。谢谢。
                            人民网北京11月22日电 据商务部网站消息，21日，商务部召开例行新闻发布会，商务部办公厅副主任、新闻发言人高峰回答记者提问。

                            香港南华早报记者提问称，据报道，11月16日上午中美经贸高级别磋商进行了建设性的讨论。请问讨论的内容是什么？双方在哪些方面达成了协议，以及现在还有哪些分歧，是否仍在中国自美采购农产品数量以及美国取消加征关税方面存在分歧？中方对于自美采购农产品设置的目标持怎样的立场？另外，特朗普称，与中国必须达成一项他喜欢的协议，否则将加征高关税，对此您怎么看？预期年内是否有可能达成第一阶段协议？

                            高峰回应，11月16日上午，刘鹤副总理应约与美国贸易代表莱特希泽、财政部长姆努钦通话。双方围绕第一阶段协议的各自核心关切进行建设性讨论。双方经贸团队将继续保持密切沟通。关于协议磋商的细节，目前我没有更多信息可以向大家透露。但外界的传言并不准确。

                            中方愿与美方在平等和相互尊重的基础上，共同努力，妥善解决彼此核心关切，力争达成第一阶段协议。这符合中美双方的共同利益，也符合整个世界的利益。谢谢。
                        </p>
                    </div>
                </el-card>
                <el-card>
                    <el-collapse v-model="activeNames" @change="handleChange">
                        <el-collapse-item title="一致性 与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念 Consistency" name="1">
                            <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
                            <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
                        </el-collapse-item>
                        <el-collapse-item title="反馈 Feedback" name="2">
                            <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
                            <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
                        </el-collapse-item>
                        <el-collapse-item title="效率 Efficiency" name="3">
                            <div>简化流程：设计简洁直观的操作流程；</div>
                            <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
                            <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
                        </el-collapse-item>
                        <el-collapse-item title="可控 Controllability" name="4">
                            <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
                            <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
                        </el-collapse-item>
                    </el-collapse>
                </el-card>
            </div>
        </el-col>
    </el-row>
</div>

</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
      el: '#app',
      data: function() {
        return {  }
      }
    })






</script>

</html>
