<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Article</title>
    <link rel="stylesheet" type="text/css" href="css/element-ui.css">
    <link rel="stylesheet" type="text/css" href="css/style.default.css">
    <script src="js/wangEditor.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/element-ui.js"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>

<div class = "top-nav">
    <div class = "top-div" >
        <img src="./img/logo.png" style="height: 80px; cursor: pointer; margin-left: 40px">
    </div>
    <div class="top-div" id="location_component">
        <i class="el-icon-location-information"></i>
        <label id="location"></label>
    </div>
    <label class = "top-div" id="clock"></label>
</div>

<div id="app" style="display: inline-block;">
    <div class="module-list" style="height: 60px;">
        <span style="font-size: 25px;">模块：</span>
        <el-select v-model="selectedModuleId" placeholder="请选择一个模块">
            <el-option
                    v-for="m in modules"
                    :key="m.moduleName"
                    :label="m.moduleName"
                    :value="m.moduleId">
            </el-option>
        </el-select>
        <el-button type="primary" @click="doUpload" style="margin-left: 10px;">上传</el-button>
        </span>
    </div>
    <div id = "test-module" style = "color: #FF0000;"></div>
</div>

<div class="title-box">
    <input type="text" id="articleTitle" maxlength="100" placeholder="请输入文章标题">
    <span class="max-length"><span class="max-length-change">0</span>/100</span>
</div>
<p id = "testArticleTitle" style = "color: #FF0000;"></p>

<div id = "editor"></div>
<div id = "testEditor" style = "color: #FF0000;"></div>

<script>
    function getQueryVariable(variable)
    {
        let query = window.location.search.substring(1);
        let vars = query.split("&");
        for (let i=0;i<vars.length;i++) {
            let pair = vars[i].split("=");
            if(pair[0] === variable){return pair[1];}
        }
        return null;
    }
    function testEmpty(){
        if($("#articleTitle").val()===""){
            $("#testArticleTitle").append("请输入文章标题！");
            return false;
        }
        else{
            $("#testArticleTitle").html("");
        }
        if (editor.txt.text()===""){
            $("#testEditor").append("请输入文章内容！");
            return false;
        }
        else{
            $("#testEditor").html("");
        }
        if (app.selectedModuleId===''){
            $("#test-module").append("请选择一个模块！");
            return false;
        }
        else {
            $("#test-module").html("");
        }
        return true;
    }




    var E = window.wangEditor;
    //这里的id为<div id="editor"中的id.
    var editor = new E('#editor');

    // 关闭粘贴内容中的样式
    editor.customConfig.pasteFilterStyle = false;
    // 忽略粘贴内容中的图片
    editor.customConfig.pasteIgnoreImg = true;
    // 使用 base64 保存图片
    editor.customConfig.uploadImgShowBase64 = true;

    // editor.customConfig.uploadImgMaxSize = 5 * 1024 * 1024; // 将图片大小限制为 3M

    editor.create();

    var _articleId=getQueryVariable("id");
    console.log(_articleId);
    if (_articleId!=null){
        $.ajax({
            type: "get",
            url: "/api/article/detail",
            data: {
                id:_articleId
            },
            async: true,
            success: function (response) {
                // console.log(response);
                editor.txt.html(response.articleEntity.articleText);
                $("#articleTitle").val(response.articleEntity.articleTitle);
            }
        });
    }


    var app = new Vue({
        el: '#app',
        data: {
            message: 'Your headline!',
            selectedModuleId: '',
            modules: [
                {url: "#em1", name: "不应该出现的模块"}
            ],
        },
        beforeMount() {
            // 调用后端的api取得模块
            this.getModules();
        },
        methods: {
            getModules: function () {
                axios.get('/api/module').then(function (response) {
                    this.updateModule(response.data.moduleList);
                }.bind(this));
            },
            updateModule: function (data) {
                this.modules = data;
            },
            doUpload: function()
            {
                if (testEmpty()===false){
                    return;
                }
                if (localStorage.getItem("userId")==null
                    ||localStorage.getItem("userName")==null
                    ||localStorage.getItem("passWord")==null){
                    alert("请先登录！");
                    return;
                }
                if (_articleId===null) {
                    $.ajax({
                        type: "post",
                        url: "/api/new-article",
                        data: {
                            authorId: localStorage.getItem("userId"),
                            authorName: localStorage.getItem("userName"),
                            password: localStorage.getItem("passWord"),

                            articleTitle: $("#articleTitle").val(),
                            articleIntro: "",
                            articleText: editor.txt.html(),

                            moduleId: this.selectedModuleId,
                        },
                        async: true,
                        success: function (response) {
                            // console.log(response);
                            if (response.status === "OK") {
                                alert("您已成功提交文章，等待编辑审核通过即可发布！");
                                editor.txt.html("");
                                document.getElementById("articleTitle").innerHTML="";
                            } else if (response.status === "FailCheckAuthor") {
                                alert("请先登录！");
                            }
                        }
                    });
                }
                else{
                    $.ajax({
                        type: "post",
                        url: "/api/edit-article",
                        data: {
                            articleId: _articleId,
                            authorId: localStorage.getItem("userId"),
                            authorName: localStorage.getItem("userName"),
                            password: localStorage.getItem("passWord"),

                            articleTitle: $("#articleTitle").val(),
                            articleIntro: "",
                            articleText: editor.txt.html(),

                            moduleId: this.selectedModuleId,
                        },
                        async: true,
                        success: function (response) {
                            // console.log(response);
                            if (response.status === "OK") {
                                editor.txt.html("");
                                document.getElementById("articleTitle").innerHTML="";
                                alert("您已成功提交文章，等待编辑审核通过即可发布！");
                            } else if (response.status === "FailCheckAuthor") {
                                alert("请先登录！");
                            }
                        }
                    });
                }
            }
        }
    });
</script>

<style>
    #app{
        margin-top: 120px;
    }


    #articleTitle {
        display: inline-block;
        width: 92%;
        height: 80px;
        line-height: 80px;
        box-sizing: border-box;
        padding-left: 16px;
        border: none;
        background-color: #efefef;
        color: #4d4d4d;
        font-size: 20px;
    }
    div.title-box {
        margin-top: 20px;
        margin-bottom: 24px;
        background-color: #efefef;
        padding: 0;
        font-size: 20px;
        position: relative;
    }
    .top-nav {
        /*顶部导航栏*/
        background: rgba(255, 216, 77, 1);
        position: absolute;
        top: 0;
        width: 100%;
        height: 80px;
        z-index: 10;
        font-size: large;
        min-width: 1410px;
        left: 0;
    }
    .top-div{
        float: left;
    }
    #location_component{
        width: 80px;
        margin-left: 20%;
        margin-top: 30px;
        font-size: medium;
    }
    #clock{
        width: 320px;
        margin-left: 50px;
        margin-top: 30px;
        color: black;
        font-size: medium;
    }
</style>

</body>
</html>