<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="js/wangEditor.js"></script>
    <script src="js/jquery.min.js"></script>
</head>
<body>
<button id="uploadArticle" onclick = "doUpload();">发布文章</button>
<div>文章标题
    <input id = "articleTitle" type = "text"/>
    <p id = "testArticleTitle" style = "color: #FF0000;"></p>
</div>
<div id = "editor"></div>
<div id = "testEditor" style = "text-color: #FF0000;"></div>

<script>
    function getQueryVariable(variable)
    {
        let query = window.location.search.substring(1);
        let vars = query.split("&");
        for (let i=0;i<vars.length;i++) {
            let pair = vars[i].split("=");
            if(pair[0] === variable){return pair[1];}
        }
        return null;
    }
    function testEmpty(){
        if($("#articleTitle").val()===""){
            $("#testArticleTitle").append("请输入文章标题！");
            return false;
        }
        else{
            $("#testArticleTitle").html("");
        }
        if ( editor.txt.html()===""){
            $("#testEditor").append("请输入文章标题！");
            return false;
        }
        else{
            $("#testEditor").html("");
        }
        return true;
    }

    function doUpload()
    {
        if (testEmpty()===false){
            return;
        }
        if (localStorage.getItem("userId")==null
            ||localStorage.getItem("userName")==null
            ||localStorage.getItem("passWord")==null){
            alert("没有登陆！");
            return;
        }
        if (_articleId===null) {
            $.ajax({
                type: "post",
                url: "/api/new-article",
                data: {
                    authorId: localStorage.getItem("userId"),
                    authorName: localStorage.getItem("userName"),
                    password: localStorage.getItem("passWord"),

                    articleTitle: $("#articleTitle").val(),
                    articleIntro: "",
                    articleText: editor.txt.html(),

                    moduleId: 2,
                },
                async: true,
                success: function (response) {
                    // console.log(response);
                    if (response.status === "Succeed") {
                        console.log("ok");
                        editor.txt.html("");
                    } else if (response.status === "FailCheckAuthor") {
                        alert("You are not an author, please apply first!");
                    }
                }
            });
        }
        else{
            $.ajax({
                type: "post",
                url: "/api/edit-article",
                data: {
                    articleId: _articleId,
                    authorId: localStorage.getItem("userId"),
                    authorName: localStorage.getItem("userName"),
                    password: localStorage.getItem("passWord"),

                    articleTitle: $("#articleTitle").val(),
                    articleIntro: "",
                    articleText: editor.txt.html(),

                    moduleId: 2,
                },
                async: true,
                success: function (response) {
                    // console.log(response);
                    if (response.status === "Succeed") {
                        console.log("ok");
                        editor.txt.html("");
                    } else if (response.status === "FailCheckAuthor") {
                        alert("You are not an author, please apply first!");
                    }
                }
            });
        }
    }


    var E = window.wangEditor;
    //这里的id为<div id="editor"中的id.
    var editor = new E('#editor');

    // 关闭粘贴内容中的样式
    editor.customConfig.pasteFilterStyle = false;
    // 忽略粘贴内容中的图片
    editor.customConfig.pasteIgnoreImg = true;
    // 使用 base64 保存图片
    editor.customConfig.uploadImgShowBase64 = true;

    // editor.customConfig.uploadImgMaxSize = 5 * 1024 * 1024; // 将图片大小限制为 3M

    editor.create();

    var _articleId=getQueryVariable("id");
    console.log(_articleId);
    if (_articleId!=null){
        $.ajax({
            type: "get",
            url: "/api/article/detail",
            data: {
                id:_articleId
            },
            async: true,
            success: function (response) {
                // console.log(response);
                editor.txt.html(response.articleEntity.articleText);
                $("#articleTitle").val(response.articleEntity.articleTitle);
            }
        });
    }

    $(function(){
        $("#articleTitle").change(function(){
            testEmpty();
        });
    });

</script>
</body>
</html>